<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_capacite_charge_root"
              name="Macro Planning"
              parent="mrp.menu_mrp_root"
              sequence="95"/>

    <menuitem id="menu_capacite_charge"
              name="Capacité vs Charge"
              parent="menu_capacite_charge_root"
              action="action_capacite_charge"
              sequence="10"/>

    <!-- Menu dédié pour le recalcul -->
    <menuitem id="menu_refresh_capacite"
              name="⟳ Recalculer la capacité"
              parent="menu_capacite_charge_root"
              action="action_refresh_wizard"
              sequence="20"/>

</odoo>
