<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_capacite_charge_root"
              name="Macro Planning"
              parent="mrp.menu_mrp_root"
              sequence="95"/>

    <menuitem id="menu_capacite_charge"
              name="Capacité vs Charge"
              parent="menu_capacite_charge_root"
              action="action_capacite_charge"
              sequence="10"/>

    <menuitem id="menu_refresh_capacite"
              name="⟳ Recalculer la capacité"
              parent="menu_capacite_charge_root"
              action="action_refresh_wizard"
              sequence="20"/>

    <menuitem id="menu_planning_role_workcenter"
              name="Lier Rôles → Postes"
              parent="menu_capacite_charge_root"
              action="action_planning_role_workcenter"
              sequence="30"/>

</odoo>
