.o_form_view .field-name-so_date_de_reception_devis .o_field_widget {
    color: blue !important;
}

.o_form_view .field-name-so_date_du_devis .o_field_widget {
    color: blue !important;
}

.o_form_view .field-name-so_date_de_modification_devis .o_field_widget {
    color: blue !important;
}

.o_form_view .field-name-so_date_devis_valide .o_field_widget {
    color: blue !important;
}

.o_form_view .field-name-so_date_bpe .o_field_widget {
    color: green !important;
}

.o_form_view .field-name-so_date_ARC .o_field_widget {
    color: green !important;
}

.o_form_view .field-name-so_date_bon_pour_fab .o_field_widget {
    color: orange !important;
}

.o_form_view .field-name-so_date_de_fin_de_production_reel .o_field_widget {
    color: orange !important;
}

.o_form_view .field-name-so_date_de_livraison_prevu .o_field_widget {
  color: orange !important;
}

.field-red {
  color: red !important;
}
.label-blue {
  color: blue !important;
}

.label-green {
  color: green !important;
}

.label-orange {
  color: orange !important;
}

.label-red {
  color: red !important;
}
